#cursor {
  position  : absolute;
  z-index   : 10000;
  width     : 32px;
  height    : 32px;
  background: transparent url(chrome-extension://peeaolodhmfbjnjikkkecmpomafbmgnp/cursor.png) 0 0 no-repeat;
}